<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Olive</title>
  {{!-- jQuery --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Materialize-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> {{!-- CUSTOM --}}
  <link rel="stylesheet" href="./style.css">
  <script src="./javascript.js"></script>

</head>

<body>
  {{!-- HEADER --}}
  <header class="row center-align">
    <div class="col s12">
      <div id="circle" class="z-depth-5">Olive</div>
      <h4>
        <em>"Where you go to see olive your food news"</em>
      </h4>
    </div>
    <div class="col s12 center-align">
      <a href="./" class="waves-effect btn header-btn z-depth-2">Home</a>
      <a href="./saved" class="waves-effect btn header-btn z-depth-2">Saved</a>
    </div>
  </header>

  {{!-- LOAD PAGE(S) --}}
  <div class="main">
    {{{body}}}
  </div>

  {{!-- MODAL --}}
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="row">
        <form class="col s12">
          <div class="input-field col s12">
            <input id="note-title" type="text">
          </div>
          <br>
          <div class="input-field col s12">
            <textarea id="note-body"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class="waves-effect waves-green btn-flat article-button" id="erase">Erase Note</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat article-button">Save</a>
      </div>
    </div>
  </div>  

</body>

</html>