body {
    background-image: url("./images/olives.jpg");
    background-position: center;
}

.collection {
    opacity: 0.8;
}

nav {
    background-color: olivedrab;
}

.icon-unclicked {
    color: olivedrab;
    opacity: 0.2;
}
.icon-olive-green {
    color: olivedrab;
}